<h3>Registration</h3>
<form action="/register" method="post">
  <input
    type="text"
    name="userName"
    id="username"
    placeholder="Enter your name/email"
  /><br /><br />
  <input
    type="password"
    name="userPassword"
    id="userpassword"
    placeholder="Enter your Password"
  /><br />
  <input type="submit" />
</form>
